body{
    background-image: url('./assets/treasuremap.jpg');
    font-family: 'Charm', cursive, bold;
    font-size:21px;
}
.GCimage:hover{
        animation: flip;
        animation-duration: 1s;

}

@Media only screen and (max-width:768px){
    img{
        height:80px;
        width:80px;
    }
}
